<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="impDiv">
        {{>header}}
        {{!-- <h1>Index file of {{title}}</h1> --}}
        <p>Created by {{title}}</p>
    </div>
    {{>footer}}
</body>

</html>